<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="RoutingServiceBehavior">
                    <routing routeOnHeadersOnly="false" filterTableName="routingRules" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="RoutingServiceBehavior" name="System.ServiceModel.Routing.RoutingService">
                <endpoint address="http://localhost:9874/Router" binding="ws2007HttpBinding"
                    bindingConfiguration="" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
            </service>
        </services>

      <routing>
        <filters>
          <filter name="Filter_CustomerCountryCode_AR" filterType="XPath" filterData="boolean(//*[local-name()= 'CustomerCountryCode']/text() = 'AR')"/>
          <filter name="Filter_CustomerCountryCode_BE" filterType="XPath" filterData="boolean(//*[local-name()= 'CustomerCountryCode']/text() = 'BE')"/>
        </filters>

        <filterTables>
          <filterTable>
            <add filterName="Filter_CustomerCountryCode_AR" endpointName=""/>
            <add filterName="Filter_CustomerCountryCode_BE" endpointName=""/>
          </filterTable>
        </filterTables>      
        
      </routing>

      <client>
        <endpoint name="ArgentinaEndpoint" address="http://localhost:9874/ArgentinaHost" binding="wsHttpBinding" bindingConfiguration="" contract="*">          
        </endpoint>
        <endpoint name="BelgiumEndpoint" address="net.tcp://localhost:9871/BelgiumBranch" binding="netTcpBinding" bindingConfiguration="" contract="*"   kind="" endpointConfiguration="">
        </endpoint>
      </client>
    </system.serviceModel>
</configuration>