<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <msmqIntegrationBinding>
                <binding name="BindingMSMQ" exactlyOnce="false">
                    <security mode="None" />
                </binding>
            </msmqIntegrationBinding>
        </bindings>
      
        <services>
            <service name="HQOrderEntryImplementation.HQOrderEntryService">
                <endpoint address="msmq.formatname:DIRECT=OS:.\private$\OrderEntryQueue"
                    binding="msmqIntegrationBinding" bindingConfiguration="BindingMSMQ"
                    contract="HQOrderEntryServiceInterface.IOrderEntryService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>