<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53170/ProductService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProductServiceSoap"
                contract="HQProductServiceASMXClient.ProductServiceSoap" name="ProductServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>